<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{settings['app-name']}} - {% if request_data.formname =='support' %}Support{% else %}Contact{% endif %} Response</title>
    <link href="{{ url_for('static',filename='css/text.css') }}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script src="{{ url_for('static', filename='script/common.js') }}"></script>
</head>
    <body>
        <nav class="banner sticky-top">
            <table class="full-width-table">
                    <tr class="logobgtable">
                        <td>&nbsp <a href="/"><img height=27 src="{{ url_for('static', filename='images/TSTLogoblue.png') }}" alt="TS Technologies Logo"></a></td>
                    </tr>
            </table>
            <p class="logo full-width-table">Thank you for contacting us, we will get back to you shortly.</p>
            <div class="bannertext">
                <p class="breadcrumbtext">
                    <a href="/" class="breadcrumblink">Return to index</a> &nbsp;|&nbsp;
                    <a href="/pylog" class="breadcrumblink">Application Log</a> &nbsp;|&nbsp;
                    <a href="/guaccesslog" class="breadcrumblink">Webserver Access Log</a> &nbsp;|&nbsp;
                    <a href="/guerrorlog" class="breadcrumblink">Webserver Error Log</a> &nbsp;|&nbsp;
                    <a href="/syslog" class="breadcrumblink">System Log</a>
                </p>
            </div>
        </nav>
        <section class="container2 contact-form">
            <p class="sectiontext">Your request has been submitted, we will respond as soon as we can.</p>
            <table>
                <tr>
                    <th class="tabledataleft">Name</th>
                    <th class="tabledataleft">Value</th>
                </tr>
                {% if request_data.formname == 'support' %}
                    <tr>
                        <td class="tabledataleft">Ticket ID</td>
                        <td class="tabledataleft">{{request_data.ticket}}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="tabledataleft">Name</td>
                    <td class="tabledataleft">{{request_data.name}}</td>
                </tr>
                <tr>
                    <td class="tabledataleft">Email</td>
                    <td class="tabledataleft">{{request_data.email[:2]}}*****{{request_data.email[-5:]}}</td>
                </tr>
                <tr>
                    <td class="tabledataleft">Telephone</td>
                    <td class="tabledataleft">{{request_data.telephone[:3]}}*****{{request_data.telephone[-4:]}}</td>
                </tr>
                <tr>
                    <td class="tabledataleft">Comments</td>
                    <td class="tabledataleft"><pre>{{request_data.comments}}</pre></td>
                </tr>
            </table>
        </section>
        <section class="banner">
            <div class="row banner breadcrumbtext">
                <div class="column col-left">
                    <p class="bannertext">
                        TS Technologies
                    </p>
                    <p>
                        Advancing science through precision control and laboratory automation.<br>
                        Software Version {{version}}
                    </p>
                </div>
                <div class="column col-middle">
                    <p class="bannertext-bold">Quick Links</p>
                    <ul>
                        <li><a href="/support" class="breadcrumblink">Support Portal</a></li>
                        <li><a href="/pp" class="breadcrumblink">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="column col-right" id="contact">
                    <p class="bannertext-bold">Contact Us</p>
                    <ul>
                        <li>35 Mill Lane, Broomfield, Essex, UK</li>
                        <li><a href="/contactform" class="breadcrumblink">Contact Form</a></li>
                    </ul>
                </div>
            </div>
            <div class="row banner">
                <div class="column col-left">
                    <p class="copyright">&copy; {{year}} TS Technologies. All rights reserved.</p>
                </div>
            </div>
        </section>
    </body>
</html>