<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{settings['app-name']}} logs</title>
        <link href="{{ url_for('static',filename='css/text.css') }}" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <script src="{{ url_for('static', filename='script/common.js') }}"></script>
    </head>
    <body onload="getstatusdata()">
        <script>
            setInterval(getstatusdata, 1000);

            async function getstatusdata() {
                const response = await fetch("/statusdata");
                const statusdata = await response.json();
                var idtoupdate = document.getElementById('cpu-value');
                idtoupdate.innerHTML = statusdata.cputemperature;
            }
        </script>
        <nav class="banner sticky-top">
            <table class="full-width-table">
                    <tr class="logobgtable">
                        <td>&nbsp <a href="/"><img height=27 src="{{ url_for('static', filename='images/TSTLogoblue.png') }}" alt="TS Technologies Logo"></a></td>
                    </tr>
            </table>
            <p class="logo full-width-table">{{settings['app-name']}} - System Status &nbsp; CPU <strong id="cpu-value">awaiting-data</strong>&deg;C</p>
            <div class="bannertext">
                <p class="breadcrumbtext">
                    <a href="/" class="breadcrumblink">Return to index</a> &nbsp;|&nbsp;
                    <a href="/pylog" class="breadcrumblink">Application Log</a> &nbsp;|&nbsp;
                    <a href="/guaccesslog" class="breadcrumblink">Webserver Access Log</a> &nbsp;|&nbsp;
                    <a href="/guerrorlog" class="breadcrumblink">Webserver Error Log</a> &nbsp;|&nbsp;
                    <a href="/syslog" class="breadcrumblink">System Log</a>
                </p>
            </div>
        </nav>
        <section class="container2">
            <p class="sectiontext">{{log}}</p>
            <p class="tabledatalogs">
                {% for row in rows %}
                    <slot {% if 'ERROR' in row %} class="logerror" {% elif 'WARN' in row %} class="logwarning" {% else %} class="loginfo" {% endif %}>{{row}}</slot><br>
                {% endfor %}
                &nbsp
            </p>
        </section>
        <section class="banner">
            <div class="row banner breadcrumbtext">
                <div class="column col-left">
                    <p class="bannertext">
                        TS Technologies
                    </p>
                    <p>
                        Advancing science through precision control and laboratory automation.<br>
                        Software Version {{version}}
                    </p>
                </div>
                <div class="column col-middle">
                    <p class="bannertext-bold">Support</p>
                    <ul>
                        <li><a href="/documentation" class="breadcrumblink">Product Manual</a></li>
                        <li><a href="/support" class="breadcrumblink">Support Portal</a></li>
                    </ul>
                </div>
                <div class="column col-right" id="quicklinks">
                    <p class="bannertext-bold">Quick Links</p>
                    <ul>
                        <li><a href="/contactform" class="breadcrumblink">Contact Form</a></li>
                        <li><a href="/pp" class="breadcrumblink">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="row banner">
                <div class="column col-left">
                    <p class="copyright">&copy; {{year}} TS Technologies. All rights reserved.</p>
                </div>
            </div>
        </section>
    </body>
</html>